[submodule "backend"]
	path = backend
	url = git@github.com:MMA-by-AFPA-students/Backend_ScoreManagment.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:MMA-by-AFPA-students/Front_ScoreManagment.git
[submodule "db_scoremanagment"]
	path = db_scoremanagment
	url = git@github.com:MMA-by-AFPA-students/db_scoremanagment.git
